<div class="container sukhumvit">
		<div class="page-header row juvel-header">
		<div class="container sukhumvit">
			<h2>คำสั่งซื้อขอฉัน</h2>
		</div>
</div>

	<div class="container sukhumvit">
		<div class="row">
			<div class="col-md-3">
				{{> account-nav section='orders' }}
			</div>
			{{#unless orders.length }}
			<div class="col-md-9">
				<div class="jumbotron">
					<h2>No order yet</h2>
					<p>คุณยังไม่มีรายการสั่งซื้อสินค้าจากเรา</p>
					<p>
						<a href="/products" class="btn btn-default btn-large">
						Explore Catalog
						</a>
					</p>
				</div>

			</div>
			{{/unless}}

			<div class="col-md-9">
				{{#each orders}}
				<div class="panel panel-default">
				  <div class="panel-heading">
				  <div class="row">
				  <div class="col-md-2">
				  	<small>สั่งซื้อเมื่อวันที่</small><br> {{ date createdAt }}
				  </div>
				  <div class="col-md-2">
				  	<small>ยอดสุทธิ</small><br>{{ amount }} บาท
				  </div>
				  <div class="col-md-3">
				  	<small>Status</small><br>
					  
					  {{#unless this.isCancelled}}
						{{#if this.isMarkedPaid}}
							{{#unless this.isVerifiedPaid}}
								{{#unless this.isShipped}}
									<i class="fa fa-clock-o"></i> กำลังรอการยืนยัน
								{{/unless}}
							{{/unless}}
						{{/if}}
						{{#unless this.isMarkedPaid}}
							<i class="fa fa-clock-o"></i> รอชำระเงิน 
						{{/unless}}
						{{#if this.isVerifiedPaid}}
							{{#unless this.isShipped}}
								<i class="fa fa-clock-o"></i> กำลังดำเนินการ 
							{{/unless}}
						{{/if}}
						{{#if this.isShipped}}
							<i class="fa fa-check"></i> จัดส่งแล้ว 
						{{/if}}
					{{/unless}}
					{{#if this.isCancelled}}
						<i class="fa fa-times"></i> ยกเลิก (Cancelled)
					{{/if}}


				  </div>
				  <div class="col-md-5 pull-right align-right">
					  	{{#unless this.isCancelled}}
						  {{#unless this.isMarkedPaid}}
				  				<button class="btn btn-sm btn-primary">
					    		<i class="fa fa-circle"></i> ยกเลิกการสั่งซื้อ</button>
								{{/unless}}
								{{#if this.isShipped}}
								<button class="btn btn-sm btn-default">
					    		<i class="fa fa-question"></i> ตรวจสอบสถานะพัสดุ</button>
								{{/if}}
								{{#unless this.isMarkedPaid}}
								<a href="/payment/notify/{{this._id}}" class="btn btn-sm btn-attention"><i class="fa fa-send"></i> แจ้งชำระเงิน</a>
							{{/unless}}
						  {{/unless}}
				  </div>
				  </div>
				  </div>
				  {{#each items}}
				  <div class="panel-body">
				    <div class="row">
					    <div class="col-md-1">
					   		<img src="{{product.mainImage.secure_url}}"
							    style="width: 60px"/>
					    </div>
					    <div class="col-md-3">
					    	<h4><a href="#">{{product.title}}</a></h4>
							{{ effectivePrice }} บาท x{{quantity}} = {{ mult quantity effectivePrice}} บาท
					    </div>
						<div class="col-md-2">
							<strong>ชำระโดย</strong><p>{{../paymentMethod}}</p>
					    </div>
						<div class="col-md-2">
							<strong>จัดส่งโดย</strong><p>{{../shippingMethod.title}}</p>
					    </div>
					    <div class="col-md-3 pull-right align-right">
							{{#unless ../isCancelled}}
							{{#if ../isShipped}}
					    	<button class="btn btn-primary">
					    		<i class="fa fa-pencil"></i> เขียน Review</button>   
							{{/if}} 	
							{{/unless}}
					    </div>
				    </div>
				  </div>
				  {{/each}}

				</div>
				{{/each}}
			</div>
		</div>
</div>
