<div class="container">
		<div class="page-header juvel-header row sukhumvit">
			<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<h3><i class="fa fa-newspaper-o" aria-hidden="true"></i> &nbsp; Our Blog</h3>
			</div>
		</div>

	<div class="row">
		<div class="col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2">
			<h2>Our Stories</h2>
			<div class="blog">
				{{# each data.posts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<h3 class="text-muted"><a href="{{postUrl slug}}">{{{title}}}</a></h3>
					<p class="text-muted">{{{categoryList categories prefix="Posted in "}}}
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</p>
					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{content.brief}}}</p>
					{{#if content.extended}}<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
				</div>
				{{/each}}
			</div>
			{{>pagination}}
		</div>
	</div>
	
</div>
